.login-page-wrapper {
  background: #0f1621;
}

.login-left-panel {
  position: relative;
}

.login-left-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-right-panel {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.login-logo {
  width: 260px;
  height: auto;
}

.login-select-wrapper,
.login-password-wrapper {
  position: relative;
  width: 100%;
}

.login-input-left-icon,
.login-password-left-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.login-select-icon,
.login-password-right-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.login-select {
    width: 100%;
    padding: 14px 42px 14px 48px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #555C60;
    appearance: none;
}

.login-password-input {
    width: 100%;
    padding: 14px 42px 14px 48px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #555C60;
}


.login-username-error,
.login-password-error {
  font-size: 12px;
  color: red;
  margin-top: 6px;
}

.login-button {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  background-color: #16a085;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #10836d;
}
