/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/inter/inter-v20-latin-regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/inter/inter-v20-latin-500.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/inter/inter-v20-latin-700.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/inter/inter-v20-latin-900.woff2') format('woff2');
    font-display: swap;
}


html, body {
    font-family: 'Inter', sans-serif;
}
